/*******************/
/*** Colors ****/
/*******************/

/* Green-Blue color #76BAA9 */
/* Light Red color  #FF8C8C */
/* Red color        #C00000 */
/* white            #FFFFFF */


/*******************/
/*** The Basics ****/
/*******************/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #76BAA9;
    color: white;
    font-family: "Arial", "Verdana";
    text-align: center;
    font-size: 1.7vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

.selected {
    box-shadow: 0 0 0 5px #FF8C8C;
}

.disabled-button {
    filter: grayscale(100%) opacity(60%);
}

.enabled-button {
    filter: grayscale(0%) opacity(100%);
}

.button-container {
    margin: 20px; /* double the .button margin */
}

.button {
    margin: 10px;
    padding: 10px;
    border-radius: 999px;
    width: 170px;
    font-size: 1.7vw;
    font-weight: bold;
    border: 4px solid white;
    display: inline;
    position: relative;
    transition: 0.2s all ease-in-out;
}

.button:hover {
    box-shadow: 1px 2px 7px #5d5c5c;
}

.button:focus {
    outline: none;
}

.button:active {
    box-shadow: 0 0 0 white;
}

.secondary {
    background: #76baa9;
    color: white;
}

.primary {
    color: #76baa9;
}

.hidden {
    display: none !important;
}

/*******************/
/****** Logo *******/
/*******************/
#logo {
    flex: 0;
    text-align: center;
    margin-bottom: 10vh;
}

#logo img {
    width: 24%;
    min-width: 200px;
}

#input-prompt {
    margin: 0 0 15px 0;
}

/*******************/
/** Main Buttons **/
/*******************/
#buttons-container {
    display: flex;
    /* allows us to evenly distribute the 3 buttons */
    justify-content: space-evenly;
    width: 100%;
}

.main-button {
    position: relative;
    width: 20%;
    min-width: 200px;
    padding: 40px 0;
    /* centers text on button vertically and gives height */
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 15px;
    font-size: 1.7vw;
}

/*******************/
/** Tooltip stuff **/
/*******************/
.tooltip {
    position: absolute;
    width: 20vw;
    padding: 10px;
    left: 50%;
    margin-left: -10vw; /* width / 2 + padding */
    border-radius: 10px;
    color: white;
    background-color: rgba(45, 45, 45, 0.9);
    z-index: 1;
    transition: all 0.3s;
    /* intially hidden */
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
}

.main-button .tooltip {
    top: 110%;
}

.main-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.recording-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.main-button.selected .tooltip {
    top: calc(110% + 5px);
    /* shift downward because of selected border */
}

/* prevents weird stutter when user would hover over tooltip instead of button */
.tooltip:hover {
    visibility: hidden;
    opacity: 0;
}

/* the arrow of the tooltip */
.tooltip::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
}

.tooltip-bottom::after {
    bottom: 100%;
    border-color: transparent transparent rgba(45, 45, 45, 0.9) transparent;
}

.tooltip-top::after {
    top: 100%;
    border-color: rgba(45, 45, 45, 0.9) transparent transparent transparent;
}

.recording-button .tooltip {
    bottom: 0;
    margin-bottom: calc(7vw + 13px);
}



/* the arrow of the tooltip */


/*******************/
/** Main Content ***/
/*******************/
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-content {
    display: flex;
    flex: 1;
    /* takes up rest of space of window so microphone is at the bottom of the screen */
    margin: 70px auto;
    align-items: center;
}

.input-content * {
    display: inline-block;
    vertical-align: middle;
}

.confirmation {
    position: absolute;
    background-color: white;
    width: 16px;
    height: 16px;
    right: 8px;
    bottom: 8px;
    border-radius: 50%;
    padding: 4px;
    font-size: 16px;
}

.confirmation::after {
    content: "\2714";
    opacity: 0;
}

.confirmed {
    background-color: #76baa9;
}

.confirmed::after {
    transition: 0.3s all linear;
    opacity: 1;
}

#auto-detect-key-signature-container {
    display: block;
}

/*******************/
/** Progress Bar ***/
/*******************/
#progress-bar {
    width: 85%;
    height: 20px;
    background-color: lightgray;
    margin: 0 auto 20% auto;
    border-radius: 5px;
    border: 5px solid white;
}

#progress-fill {
    background-color: #FF8C8C;
    height: inherit;
    min-width: 1%;
    max-width: 100%;
    width: 1%;
    transition: .7s all ease-in-out;
}

/*******************/
/*** Sheet Music ***/
/*******************/

#sheet-music {
    margin: 0 auto;
    max-width: 90%;
    background-color: white;
    border-radius: 15px;
    overflow: scroll !important; /* fixes problem where too many measures displayed for the screen width */
    height: auto !important; /* fix weird scrollbar when height is barely off */
}

#sheet-music-main-content {
    max-height: calc(100vh - 250px);
}

/*******************/
/***** Inputs ******/
/*******************/
input {
    text-align: center;
    font-size: 1.7vw;
}

/* Turn off scroll buttons for numbers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 1.7vw;
  width: 1.7vw;
  min-width: 16px;
  min-height: 16px;
  background-color: #fff;
  border-radius: 10%;
  vertical-align: text-top;
  margin-right: 6px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #ff8c8c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    opacity: 1;
}

.checkmar, .checkmark:after {
    transition: .1s all ease-in-out;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 36%;
  top: 20%;
  width: 20%;
  height: 40%;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Create custom select box */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  display: block;
  color: black;
  padding: 8px 26px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 100px;
  overflow: scroll;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Customize submit type buttons */
input[type="submit"], #detect-tempo-button {
    color: black;
    width: auto;
    font-weight: normal;
    background-color: white;
    padding: 8px 26px;
    border: none;
}



/* Key-Signature */
.input-container {
    vertical-align: middle;
    margin: 15px;
}

.input-container input {
    display: block;
    padding: 4px;
    margin: 5px;
}

.input-container hr {
    display: block;
    width: 100%;
    border: 1px solid white;
    border-style: solid none;
}

#detect-tempo-div {
    display: block;
}

#detecting-tempo-div {
    display: block;
}

/*******************/
/**** Mic Icon *****/
/*******************/
.recording-button {
    flex: 0;
    width: 7%;
    min-width: 80px;
    height: auto;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition: 0.3s all ease-in-out;
}

.recording-button img {
    width: 100%;
    height: 100%;
}

/**************************/
/** Screen Width changes **/
/**************************/
@media only screen and (max-width: 715px) {

    /* Buttons start to scroll off the side */
    #buttons-container {
        display: block;
        width: 100%;
    }

    .main-button {
        width: 90%;
        margin: 10px auto;
    }

    .tooltip {
        width: 70vw;
        margin-left: -35vw; /* width / 2 + padding */
    }
}

@media only screen and (max-width: 970px) {
    body, input, .main-button, .button {
        font-size: 16px;
    }

    .recording-button .tooltip {
        bottom: 0;
        margin-bottom: 93px;
    }
}

/**************************/
/** Metronome **/
/**************************/
#metronome-main-content {
    justify-content: center;
}

.metro-container {
    width: 15vw;
    height: 15vw;
    min-height: 100px;
    min-width: 100px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.countdown {
    margin: auto;
    padding-bottom: 10px;
    font-family: "Arial", "Verdana";
    /* font-size: 20px; */
}

.circle {
    width: 15vw;
    height: 15vw;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: "Arial", "Verdana";
}

.shadow {
    animation: shadow-pulse .2s ease-out 1;
}
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}
