[tooltip]:before {            
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver; 
}
[tooltip]:hover:before {        
    opacity : 1;
    
    /* customizable */
    background: black;
    margin-top: -40px;
}
[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}
